.speech {
    font-family: "Times New Roman", Times, serif;
    font-size : 16px;
    color: black;
}

.name
{
    font-family:'Cambria';
    font-size: 25px;
    color: coral;
}
.direction {
    font-family: "Courier", monospace;
    font-size: 14px;
    color: black;
    background-color: lightyellow;
    padding: auto;
}

.direction:hover {
background-color: yellow;
color: red;
}

.antigone{color: Aqua; }
.oedipus{color: lawngreen;}
.chorus{color: dimgrey;}
.THESEUS{color: pink;}
.POLYNICES{color: blueviolet;}
.CREON{color: teal;}

table {
    width: 100%;
    border-collapse: collapse;
}
th,td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

th{
    background-color: lavenderblush;
}

tr:nth-child(even) {
    background-color: peachpuff;
}

.character:hover {
    text-shadow: 2px 2px 5px rgba(255, 162, 0, 0.7); 
    border: 2px solid palevioletred; 
    padding: 2px;
 }

 .navbar-horizontal
 {
    background-color:skyblue;
    bottom:0;
    width: 100%;
    position: initial;
    border: #4db5c0;
    padding :10px 0;
    text-align: center;
                                     

 }
.navbar-horizontal ul {
    
    list-style: none;
    margin:0%;
    padding: 0%;
  
  }
  
  .navbar-horizontal li {
    display: inline;
    margin: 0 15px;
    float:center;
  }
  
 .navbar-horizontal a {
    color: black;
    padding:2px
    
  }
  .navbar-horizontal img{
    vertical-align: middle;
    margin-right: 5px;
    height: 15px;
  }

  .navbar-horizontal li:hover{
background-color:rgb(152, 194, 140);
  }