.speech {
    font-family: "Times New Roman", Times, serif;
    font-size : 16px;
    color: black;
}

.direction {
    font-family: "Courier", monospace;
    font-size: 14px;
    color: black;
    background-color: lightyellow;
    padding: auto;
}

.direction:hover {
background-color: yellow;
color: red;
}

.antigone{color: Aqua; }
.oedipus{color: lawngreen;}
.chorus{color: dimgrey;}
.THESEUS{color: pink;}
.POLYNICES{color: blueviolet;}
.CREON{color: teal;}

table {
    width: 100%;
    border-collapse: collapse;
}
th,td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

th{
    background-color: lavenderblush;
}

tr:nth-child(even) {
    background-color: peachpuff;
}

.character:hover {
    text-shadow: 2px 2px 5px rgba(255, 162, 0, 0.7); 
    border: 2px solid palevioletred; 
    padding: 2px;
 }